.crear-complejo-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crear-complejo-titulo {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

.crear-complejo-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.crear-complejo-campo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.crear-complejo-campo input,
.crear-complejo-campo select {
  padding: 6px;
  font-size: 18px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.crear-complejo-boton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 35px;
}

.crear-complejo-boton:hover {
  background-color: #45a049;
}