main {
  margin-top: 0px;
  flex-grow: 1;
  display: block;
}

.contenedor-faq {
  text-align: left;
  padding-left: 30vh;
  padding-right: 30vh;
  padding-top: 5vh;
  
}

.titulo-faq{
  text-align: center;
  color: #ff5e00;
  font-size: 6vh;
}

.lista-faq li{
  padding-top: 7vh;
  list-style: none;
}

.lista-faq li h2{
  padding-bottom: 4.5vh;
  font-size: 4vh;
}

.lista-faq li p {
  font-size: 2.7vh;
}