*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo-header{
    padding: 10px;
    margin-left: 30px;
    height: 90x;
    width: 90px;
}

.header-caja{
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    z-index: 1000;
    background-color: white;

}


.nav-links{
    display: flex;
    gap: 100px;
    list-style: none;
}

.nav-links li{
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    
}

.nav-links li a:hover{
    color: #ee5801;
    transition-duration: 0.3s;
}

.nav-links li:last-child {
  margin-right: 70px;
}
.nav-links li a{
    text-decoration: none;
    color: black
}
