.form-group{
    display:flex;
    flex-direction: column;
    gap:5px
}

.form-group label{
    font-size: 14px;
    font-weight: bold;
}

.form-group input{
    border-radius: 50px;
    padding: 12px 20px; 
    border: 1.5px solid #cccccc;
    outline: none;
    font-size: 15px;
    
}

.form-group input:focus{
    border-color: #ee5801;
}
.form-group input,
.form-group select {
    border-radius: 50px;
    padding: 12px 20px;
    border: 1.5px solid #cccccc;
    outline: none;
    font-size: 15px;
    background-color: #ffffff;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #ee5801;
}